body {
    text-align: center;
    background-color: azure;
    background-image: url(meninoney.png), url(reimessi.png);

    background-position: right top, left top;
    background-size: 23%, 23%;
    background-repeat: no-repeat, no-repeat;
    
    
}

table {
    margin: auto;
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    border: 1px solid #ccc;

}

.titulogrupo {
    background-color: cornflowerblue;
}

.topodata {
    background-color: yellowgreen;
}

td,
th {
    padding: 8px;
}

summary {
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

tr:hover {
    background-color: #f2f2f2;
}

.tabela-container {
    overflow-x: auto;
}